body{
    background-color: #7FFFD4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#container{
    display:flex;
}

.cartao{

    margin: 1rem 1rem;
    background-color: #00FF7F;
    height: 20rem;
    flex: grow 1;
    flex-basis: calc(33% -6rem);
    
}

.cartao__conteudo{
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: ;

}